*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
}

nav{

}

main{
    display: flex;
}

section{
    background-image: url(../img/final.jpg);
    background-size: cover;
}

footer{
    background-image: url(../img/bg_peu.png) ;
}